# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# projectiles files
.projectile

# directory configuration
.dir-locals.el

*.o
*.a
*.so
deps/
local/
lib/

# Executables
wolfssl-client
wolfssl-client-mutual

# OSX stuff
._*
.DS_Store

# vscode
.vscode/

# epid option
ra_tls_options-ref.c
ra_tls_options.c

# any log files
*LOG*
*.log